<div class="component-container">
  <div class="component-header">
    <div class="component-title"><h3>Medical Visit</h3></div>
    @if(authService.hasRole('HR')){
    <div class="component-header-actions">
      <div class="action-button pdf-export">
        <button class="action-btn" (click)="exportPdf()">
          <i class="icofont-file-pdf me-2 fs-6"></i>
          Export PDF
        </button>
      </div>
      <div class="action-button excel-export">
        <button class="action-btn" (click)="exportcsv()">
          <i class="icofont-file-excel me-2 fs-6"></i>
          Export Excel
        </button>
      </div>
      <div class="action-button item-add">
        <button class="action-btn" (click)="addVisit()">
          <i class="icofont-plus-circle me-2 fs-6"></i>
          Add Medical Visit
        </button>
      </div>
    </div>
    }
  </div>
  <div class="component-body">
    <div class="data-table-container">
      <mat-form-field style="float: right; margin-right: 5%">
        <mat-label>Search:</mat-label>
        <input matInput (keyup)="filter($event)" type="search" />
      </mat-form-field>
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="doctorName">
          <th mat-header-cell *matHeaderCellDef>Doctor</th>
          <td class="highlight-cell" mat-cell *matCellDef="let element">
            {{ element.doctorName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="visitDate">
          <th mat-header-cell *matHeaderCellDef>Visit Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.visitDate | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>
        @if(authService.hasRole('HR')){
        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef>From</th>
          <td mat-cell *matCellDef="let element">
            {{ element.startTime }}
          </td>
        </ng-container>
        <ng-container matColumnDef="endTime">
          <th mat-header-cell *matHeaderCellDef>To</th>
          <td mat-cell *matCellDef="let element">
            {{ element.endTime }}
          </td>
        </ng-container>
        <ng-container matColumnDef="numberOfAppointments">
          <th mat-header-cell *matHeaderCellDef>Appointments</th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="{{ element.id }}/appointments/">
              <button mat-icon-button class="badge-button" color="primary">
                <mat-icon><i class="icofont-ui-user-group"></i></mat-icon>
                <span class="badge-count">
                  {{ element.numberOfAppointments }}
                </span>
              </button>
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              class="edit-control"
              color="primary"
              (click)="editVisit(element)"
            >
              <mat-icon><i class="icofont-edit"></i></mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="deleteVisit(element)"
              class="delete-control"
            >
              <mat-icon><i class="icofont-ui-delete"></i></mat-icon>
            </button>
          </td>
        </ng-container>
        }
        <ng-container matColumnDef="choosenSlot">
          <th mat-header-cell *matHeaderCellDef>Choosen Slot</th>
          <td mat-cell *matCellDef="let element">
            {{
              element.choosenSlot
                ? (element.choosenSlot | date : "HH:mm")
                : "--:--"
            }}
          </td>
        </ng-container>
        <ng-container matColumnDef="TakeAppointment">
          <th mat-header-cell *matHeaderCellDef>Take Appointment</th>
          <td mat-cell *matCellDef="let element">
            @if(element.choosenSlot){
            <button
              mat-icon-button
              class="edit-control-mono ban"
              (click)="cancelAppointment(element)"
            >
              <mat-icon><i class="icofont-ban"></i></mat-icon>
            </button>
            } @else{
            <button
              mat-icon-button
              class="edit-control-mono"
              (click)="makeAppointment(element)"
            >
              <mat-icon><i class="icofont-check"></i></mat-icon>
            </button>
            }
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="data-table-body-row"
        ></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="true"
        [pageSize]="pageSize"
      >
      </mat-paginator>
    </div>
  </div>
</div>
