<div class="header">
  <div class="header-content">
    <div class="employee-info">
      <div class="avatar-container">
        <img
          src="assets/images/pexels-photo-6694422.jpg"
          alt="Employee Avatar"
          class="avatar"
        />
      </div>
      <div class="employee-details">
        <div class="name">{{ user.firstName }} {{ user.lastName }}</div>
        <div class="post">{{ user.department }} {{ user.role }}</div>
      </div>
    </div>
    <div class="header-leave-balances">
      <div class="leave-balance">
        <div class="balance">Remaining balance :</div>
        <div class="days">
          {{ remainingLeave | async }}/{{ totalLeave | async }}
        </div>
      </div>
    </div>
    <div class="notification-container">
      <div class="notification-icon">
        <img
          src="assets/icons/icons8-notification-48.png"
          alt="Notifications"
        />
      </div>
    </div>
  </div>
</div>
