<div class="sidebar-section">
  <div class="sidebar-section-header">
    <div class="sidebar-section-subtitle">Available Leave Types</div>
  </div>
  <div class="leave-types-container">
    <div class="leave-types-tags">
      @for(leaveType of objectKeys(leaveTypes); track leaveTypes[leaveType]){
      <div class="leave-type">
        <div
          class="leave-type-color"
          [style.background-color]="leaveTypes[leaveType]"
        ></div>
        <div class="leave-type-tag">
          <span class="leave-type-name">{{ transformString(leaveType) }}</span>
        </div>
      </div>
      }
    </div>
  </div>
  <div class="leave-request-button">
    <button class="submit-button">
      <img
        src="assets/icons/icons8-send-48.png"
        alt="plus icon"
        class="request-icon"
        width="20"
      />
      <div class="button-text">Request Leave</div>
    </button>
  </div>
</div>
