<div class="form-modal-container">
  <div class="form-modal-header">
    <h5>Edit Personal Information</h5>
    <button class="close-button" (click)="closeModal()">
      <i class="icofont-close-line"></i>
    </button>
  </div>
  @if(userhasNullAttributes){
  <div class="alert-container">
    <div class="alert alert-warning">
      <div class="alert-icon">
        <i class="icofont-warning-alt"></i>
      </div>
      <div class="alert-content">
        <div class="alert-title">Complete Your Profile</div>
        <div class="alert-message">
          Please complete your personal information to ensure full access to all
          features.
        </div>
      </div>
    </div>
  </div>
  }

  <form (ngSubmit)="onSubmit()" [formGroup]="editForm">
    <div class="modal-body">
      <div class="profile-picture-container">
        <img
          [src]="user.profilePicture"
          class="profile-picture"
          (click)="triggerFileInput()"
        />
        <input
          id="profilePicture"
          type="file"
          (change)="onFileChange($event)"
          hidden
        />
      </div>

      <div class="form-controller-container">
        <div class="form-controller">
          <div class="label-container">
            <label for="firstName">First Name</label>
          </div>
          <input id="firstName" formControlName="firstName" type="text" />
        </div>
        <div class="form-controller">
          <div class="label-container">
            <label for="lastName">Last Name</label>
          </div>
          <input id="lastName" formControlName="lastName" type="text" />
        </div>
      </div>

      <div class="form-controller-container">
        <div class="form-controller">
          <div class="label-container">
            <label for="email">Email</label>
          </div>
          <input id="email" formControlName="email" type="email" />
        </div>
        <div class="form-controller">
          <div class="label-container">
            <label for="jobTitle">Job Title</label>
          </div>
          <input id="jobTitle" formControlName="jobTitle" type="text" />
        </div>
      </div>

      <div class="form-controller-container">
        <div class="form-controller">
          <div class="label-container">
            <label for="phoneNumber1">Phone Number 1</label>
          </div>
          <input id="phoneNumber1" formControlName="phoneNumber1" type="text" />
        </div>
        <div class="form-controller">
          <div class="label-container">
            <label for="phoneNumber2">Phone Number 2 (optional)</label>
          </div>
          <input id="phoneNumber2" formControlName="phoneNumber2" type="text" />
        </div>
      </div>

      <div class="form-buttons">
        <div class="button-submit">
          <button type="submit" [disabled]="editForm.invalid" class="primary">
            Save
          </button>
        </div>
        <div class="button-cancel">
          <button type="button" (click)="closeModal()">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
