<nav
  class="sidebar"
  [ngClass]="{ collapsed: !isExpanded, expanded: isExpanded }"
>
  <div class="sidebar-header">
    <span class="sidebar-logo"
      ><img
        src="assets/images/onetech_Logo-300x300.png"
        alt="Logo"
        class="logo"
        width="120"
    /></span>
    <button class="sidebar-toggle" (click)="toggleSidebar()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
  <div class="sidebar-nav">
    <div class="sidebar-nav-top">
      <!-- @if (authService.hasRole('HR') || authService.hasRole('Manager')) {
      <a routerLink="/dashboard" class="nav-item" routerLinkActive="active">
        <i class="nav-icon-fa fa-solid fa-gauge"></i>
        <span class="nav-text">Dashboard</span>
      </a>
      }  -->

      @if (!authService.hasRole('HRD') ) {
      <a routerLink="/home" class="nav-item" routerLinkActive="active">
        <i class="nav-icon-fa fa-solid fa-house"></i>
        <span class="nav-text">Home</span>
      </a>
      }
      <!-- @if (authService.hasRole('HR')) {
      <a routerLink="/employees" class="nav-item" routerLinkActive="active">
        <i class="nav-icon-fa fa-solid fa-users"></i>
        <span class="nav-text">Employees</span>
      </a>
      } -->

      <!-- <a routerLink="/attendance" class="nav-item" routerLinkActive="active">
        <i class="nav-icon-fa fa-solid fa-clock"></i>
        <span class="nav-text">Attendance</span>
      </a> -->
      @if (authService.hasRole('HRD') || authService.hasRole('HR')) {
      <a
        routerLink="/recruitment/job-offers"
        class="nav-item"
        routerLinkActive="active"
      >
        <i class="nav-icon-fa fa-solid fa-user-plus"></i>
        <span class="nav-text">Recruitment</span>
      </a>
      } @if (authService.hasRole('HRD') || authService.hasRole('HR')) {
      <a routerLink="/attendance" class="nav-item" routerLinkActive="active">
        <i class="nav-icon-fa fa-solid fa-clock"></i>
        <span class="nav-text">Attendance</span>
      </a>
      } @if (authService.hasRole('Employee')) {
      <a
        routerLink="/recruitment/job-offers"
        class="nav-item"
        routerLinkActive="active"
      >
        <i class="nav-icon-fa fa-solid fa-briefcase"> </i>
        <span class="nav-text">Job offers</span>
      </a>
      } @if (authService.hasRole('HRD') || authService.hasRole('HR') ||
      authService.hasRole('Manager')) {
      <a routerLink="/leave" class="nav-item" routerLinkActive="active">
        <i class="nav-icon-fa fa-solid fa-calendar-check"></i>
        <span class="nav-text">Leave Request</span>
      </a>
      }

      <a
        routerLink="/medical-visits"
        class="nav-item"
        routerLinkActive="active"
      >
        <i class="nav-icon-fa fa-solid fa-briefcase-medical"></i>
        <span class="nav-text">Medical Visit</span>
      </a>
      <a routerLink="/trainings" class="nav-item" routerLinkActive="active">
        <i class="nav-icon-fa fa-solid fa-graduation-cap"></i>
        <span class="nav-text">Training</span>
      </a>
      <!-- @if (authService.hasRole('HR')) {
      <a routerLink="/payroll" class="nav-item" routerLinkActive="active">
        <i class="nav-icon-fa fa-solid fa-wallet"></i>
        <span class="nav-text">Payroll</span>
      </a>
      }  -->
      <!-- @if (authService.hasRole('Employee')) {
      <a routerLink="/documents" class="nav-item" routerLinkActive="active">
        <i class="nav-icon-fa fa-solid fa-folder-open"></i>
        <span class="nav-text">Documents</span>
      </a>
      } -->
      <!-- <a routerLink="/documents" class="nav-item" routerLinkActive="active">
        <i class="nav-icon-fa fa-solid fa-gift"></i>
        <span class="nav-text">Perks & Benefits</span>
      </a> -->
    </div>
    <div class="sidebar-nav-bottom">
      <!-- <a routerLink="/settings" class="nav-item" routerLinkActive="active">
        <i class="nav-icon-fa fa-solid fa-sliders"></i>
        <span class="nav-text">Settings</span>
      </a> -->
      <a href="#" class="nav-item" (click)="logout()">
        <i class="nav-icon-fa fa-solid fa-right-from-bracket"></i>
        <span class="nav-text">Logout</span>
      </a>
    </div>
  </div>
</nav>
