<div class="sidebar">
  <div class="sidebar-header">
    <img src="assets/images/logo-rotate.png" alt="Logo" class="logo" />
  </div>
  <div class="sidebar-content">
    <nav class="menu">
      <div class="menu-item">
        @if(authService.hasRole('Employee')) {<a
          routerLink="/home"
          routerLinkActive="active"
        >
          <i class="icofont-home sidebar-menu-icon"></i>
        </a>
        }
      </div>
      <div class="menu-item">
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="icofont-dashboard sidebar-menu-icon"></i>
        </a>
      </div>
      @if(authService.hasRole('HR')||authService.hasRole('Manager')) {
      <div class="menu-item">
        <a routerLink="/leave" routerLinkActive="active">
          <i class="icofont-briefcase sidebar-menu-icon"></i>
        </a>
      </div>
      }
      <div class="menu-item">
        <a routerLink="/medical-visits" routerLinkActive="active">
          <i class="icofont-stethoscope sidebar-menu-icon"></i>
        </a>
      </div>
      <div class="menu-item">
        <a routerLink="/files" routerLinkActive="active">
          <i class="icofont-files-stack sidebar-menu-icon"></i>
        </a>
      </div>
      <div class="menu-item">
        <a routerLink="/settings" routerLinkActive="active">
          <i class="icofont-settings sidebar-menu-icon"></i>
        </a>
      </div>
    </nav>
  </div>
  <div class="menu-item">
    <a (click)="logout()">
      <i class="icofont-logout sidebar-menu-icon"></i>
    </a>
  </div>
</div>
