@if (isEmployee()){
<div class="leave-container">
  <div class="calendar-section">
    <full-calendar [options]="calendarOptions" #calendar></full-calendar>
  </div>
  <div class="sidebar-section">
    <h3>Leave Types</h3>

    <button class="submit-button" (click)="openDialog()">
      <img
        src="assets/icons/icons8-send-48.png"
        alt="plus icon"
        class="request-icon"
        width="20"
      />
      <div class="button-text">Request Leave</div>
    </button>
  </div>
</div>
} @if (isManager() || isHr()){
<app-data-table></app-data-table>
}
