@if (isEmployee()){
<div class="leave-container">
  <div class="calendar-section">
    <full-calendar [options]="calendarOptions" #calendar></full-calendar>
  </div>
  <div class="sidebar-section">
    <h3>Leave Types</h3>
    <!-- Leave Types 
    <div class="leave-types">
      <mat-chip-listbox>
        <mat-chip-option
          *ngFor="let type of leaveTypes"
          [selected]="selectedLeaveType === type.name"
          [style.backgroundColor]="type.color"
          (click)="selectLeaveType(type.name)"
        >
          {{ type.name }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
    
    <button
      class="submit-button"
      [disabled]="!isFormValid()"
      (click)="openDialog()"
    >
      Submit Request
    </button>
    !-->
    <button class="submit-button" (click)="openDialog()">Submit Request</button>
  </div>
</div>
} @if (isManager() || isHr()){
<app-data-table></app-data-table>
}
