<div class="table-container mat-elevation-z8">
  <mat-card>
    <div class="table-header">
      <mat-form-field appearance="outline">
        <input
          matInput
          (input)="applyFilter($event)"
          placeholder="Search employees"
          class="search-input"
        />
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-table">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
        <td mat-cell *matCellDef="let element">{{ element.Department }}</td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
        <td mat-cell *matCellDef="let element">{{ element.startDate }}</td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
        <td mat-cell *matCellDef="let element">{{ element.endDate }}</td>
      </ng-container>

      <ng-container matColumnDef="leaveType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave Type</th>
        <td mat-cell *matCellDef="let element">{{ element.leaveType }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>
      @if(isHr() || isManager()){
      <ng-container matColumnDef="attachments">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Attachment</th>
        <td mat-cell *matCellDef="let element">
          @if(element.leaveType == 'MALADIE' || element.leaveType == 'MATERNITÉ'
          || element.leaveType == 'PATERNITÉ' || element.leaveType == 'DÉCÈS'){
          <a
            (click)="downloadAttachment(element.id)"
            target="_blank"
            class="download-link"
          >
            <img
              src="assets/icons/icons8-view-48.png"
              alt=""
              class="download-icon"
            />
          </a>
          }
        </td>
      </ng-container>
      } @if(isManager()){
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let element" class="actions">
          @if(element.status != 'APPROUVÉE'){
          <div>
            <a (click)="approveLeave(element.id)">
              <img
                src="assets/icons/icons8-approve-48.png"
                alt=""
                class="icon-actions approve-icon"
              />
            </a>
          </div>
          <div>
            <a (click)="rejectLeave(element.id)">
              <img
                src="assets/icons/icons8-reject-48.png"
                alt=""
                class="icon-actions reject-icon"
            /></a>
          </div>
          }
        </td>
      </ng-container>
      }
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>
  </mat-card>
</div>
