.reset-password-form p {
  color: var(--dove-gray);
  margin-bottom: 1rem;
  font-family: "Montserrat-Regular", sans-serif;
}

.error-message {
  padding: 1rem;
  background-color: var(--gun-powder);
  color: var(--silver);
  border-radius: 0.25rem;
  text-align: center;
  margin-top: 1rem;
}

.success-message {
  padding: 1rem;
  background-color: var(--endeavour);
  color: var(--white);
  border-radius: 0.25rem;
  text-align: center;
  margin-top: 1rem;
}
