<h2>Reset Password</h2>
<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Password:</label>
    <input type="password" formControlName="password" required />
    <div
      *ngIf="
        resetForm.get('password')?.invalid &&
        (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)
      "
    >
      Password must be at least 8 characters.
    </div>
  </div>
  <div>
    <label>Confirm Password:</label>
    <input type="password" formControlName="confirmPassword" required />
    <div *ngIf="passwordMismatchError">Passwords must match.</div>
  </div>
  <button type="submit" [disabled]="resetForm.invalid || sending">
    {{ sending ? "Resetting..." : "Reset Password" }}
  </button>
  <div *ngIf="responseMessage" class="message">{{ responseMessage }}</div>
</form>
