<div class="training-page">
  @if(authService.hasRole("Manager")) {
  <a routerLink="/trainings/create" class="create-btn">
    <i class="fa-solid fa-plus"></i> Create Training
  </a>
  }
  <div class="filter-section">
    <div class="filter-header">
      <h2 class="filter-title">Filters</h2>
      <div class="search-box">
        <span class="search-icon">🔍</span>
        <input
          type="text"
          class="search-input"
          placeholder="Search job titles..."
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchTermChange()"
        />
      </div>
    </div>
    @if(authService.hasRole("HR")) {
    <div class="filter-controls">
      <div class="filter-group">
        <label class="filter-label">Department:</label>
        <select
          class="filter-select"
          [(ngModel)]="selectedDepartment"
          (ngModelChange)="onDepartmentChange()"
        >
          <option value="all">All Departments</option>
          <option value="support services">Support Services</option>
          <option value="research & development">Research & Development</option>
          <option value="human resources">Human Resources</option>
          <option value="supply chain">Supply Chain</option>
          <option value="it">IT</option>
          <option value="commercial">Commercial</option>
        </select>
      </div>
    </div>
    }
  </div>

  <div class="list-view">
    <div class="no-trainings" *ngIf="!displayedTrainings.length">
      There are currently no trainings listed.
    </div>
    <div class="training-card" *ngFor="let training of displayedTrainings">
      <div
        class="training-info"
        [routerLink]="['/trainings', training.id, 'details']"
      >
        <h3 class="training-title">{{ training.title }}</h3>
        <p class="training-description">
          {{ training.description | slice : 0 : 100
          }}{{ training.description.length > 100 ? "..." : "" }}
        </p>
        <p class="training-meta">
          <span>
            <strong>Department:</strong>
            {{ training.department }}
          </span>
          <span>
            <strong>Start:</strong>
            {{ training.startDate | date : "MMM d, yyyy" }}</span
          >
          <span>
            <strong>End:</strong>
            {{ training.endDate | date : "MMM d, yyyy" }}</span
          >
          <span>
            <strong>Created At:</strong>
            {{ training.createdAt | date : "MMM d, yyyy, h:mm a" }}</span
          >
        </p>
      </div>
      <div class="training-actions">
        @if(authService.hasRole("Employee")) { @if(training.isConfirmed){
        <a
          class="action-btn confirmed"
          aria-label="Already confirmed in training"
        >
          <i class="fa-solid fa-check-square"></i>
          Confirmed
        </a>
        } @else {
        <a
          class="action-btn confirm"
          aria-label="confirm training"
          (click)="onConfirmTraining(training.id)"
        >
          <i class="fa-solid fa-square"> </i> Confirm
        </a>
        } } @if(authService.hasRole("Manager") ||authService.hasRole("HR")) {
        <a
          class="action-btn invitations"
          [routerLink]="['/trainings', training.id, 'invitations']"
          aria-label="View invitations"
        >
          <i class="fa-solid fa-users"></i> Invitations ({{
            training.totalInvitations
          }})
        </a>
        } @if(authService.hasRole("Manager")) {
        <a
          class="action-btn modify"
          [routerLink]="['/trainings', training.id, 'edit']"
          aria-label="Modify training"
        >
          <i class="fa-solid fa-edit"></i> Modify
        </a>
        <button
          class="action-btn delete"
          aria-label="Delete training"
          (click)="openDeleteConfirmation(training.id)"
        >
          <i class="fa-solid fa-trash"></i> Delete
        </button>
        }
      </div>
    </div>

    <div class="pagination">
      <div class="pagination-info">
        Showing <b>1-{{ pageSize }}</b> of
        <b>{{ trainings.length }}</b> trainings
      </div>
      <div class="pagination-controls">
        <select
          class="page-size-select"
          [(ngModel)]="pageSize"
          (ngModelChange)="onPageSizeChange()"
        >
          @for (size of pageSizeOptions; track size) {
          <option [value]="size">{{ size }} per page</option>
          }
        </select>
        <button
          class="pagination-btn"
          [class.disabled]="isPrevDisabled()"
          (click)="previousPage()"
        >
          ◀
        </button>

        @for (page of visiblePages; track page; let i = $index) { @if(page !==
        '...') {
        <button
          class="pagination-btn"
          [class.active]="page === pageIndex"
          (click)="goToPage(+page)"
        >
          {{ +page + 1 }}
        </button>
        } @else {
        <button class="pagination-btn" disabled>...</button>
        } }

        <button
          class="pagination-btn"
          [class.disabled]="isNextDisabled()"
          (click)="nextPage()"
        >
          ▶
        </button>
      </div>
    </div>
  </div>
</div>
