<h2>Forgot Password</h2>
<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Email:</label>
    <input type="email" formControlName="email" required />
    <div
      *ngIf="
        forgotForm.get('email')?.invalid &&
        (forgotForm.get('email')?.dirty || forgotForm.get('email')?.touched)
      "
    >
      Please enter a valid email.
    </div>
  </div>
  <button type="submit" [disabled]="forgotForm.invalid || sending">
    {{ sending ? "Sending..." : "Send Reset Link" }}
  </button>
  <div *ngIf="responseMessage" class="message">{{ responseMessage }}</div>
</form>
