<div class="form-modal-container">
  <div class="form-modal-header">
    <h5>Medical Visit Add</h5>
    <button class="close-button" (click)="onClose()">
      <i class="icofont-close-line"></i>
    </button>
  </div>
  <form [formGroup]="medicalVisitForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-controller-container">
        <div class="form-controller">
          <div class="label-container">
            <label for="doctorName">Doctor Name</label>
          </div>
          <input id="doctorName" formControlName="doctorName" required />
        </div>
        <div class="form-controller">
          <div class="label-container">
            <label for="visitDate">Visit Date</label>
          </div>
          <input
            id="visitDate"
            type="date"
            formControlName="visitDate"
            required
          />
        </div>
      </div>
      <div class="form-controller-container">
        <div class="form-controller">
          <div class="label-container">
            <label for="startTime">Start</label>
          </div>
          <input
            id="startTime"
            type="time"
            formControlName="startTime"
            required
          />
        </div>
        <div class="form-controller">
          <div class="label-container"><label for="endTime">End</label></div>
          <input id="endTime" type="time" formControlName="endTime" required />
        </div>
      </div>

      <div class="form-buttons">
        <div class="button-submit">
          <button
            type="submit"
            [disabled]="medicalVisitForm.invalid"
            class="primary"
          >
            @if(isLoading){
            <div class="spinner-container">
              <mat-spinner [diameter]="15"></mat-spinner>
            </div>
            } @else{ @if(isUpdate){<span>Update</span>} @else{<span>Add</span>}
            }
          </button>
        </div>
        <div class="button-cancel">
          <button type="button" (click)="onCancel()">
            @if(isLoading){
            <div class="spinner-container">
              <mat-spinner [diameter]="15"></mat-spinner>
            </div>
            } @else{ Cancel }
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
