<div class="form-modal-container">
  <div class="form-modal-header">
    <h5>Leave Request</h5>
    <button class="close-button" (click)="onClose()">
      <i class="icofont-close-line"></i>
    </button>
  </div>
  <form [formGroup]="leaveRequestForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-controller-container">
        <div class="form-controller">
          <div class="label-container">
            <label for="startDate">Start Date</label>
          </div>
          <input
            type="date"
            formControlName="startDate"
            id="startDate"
            [min]="minDate"
          />
          <div
            *ngIf="
              leaveRequestForm.get('startDate')?.invalid &&
              leaveRequestForm.get('startDate')?.touched
            "
          >
            <small
              class="error"
              *ngIf="leaveRequestForm.get('startDate')?.errors?.['required']"
            >
              Start date is required.
            </small>
            <small
              class="error"
              *ngIf="leaveRequestForm.get('startDate')?.errors?.['noWeekends']"
            >
              Start date cannot be on a weekend.
            </small>
          </div>
        </div>
        <div class="form-controller">
          <div class="label-container">
            <label for="endDate">End Date</label>
          </div>
          <input
            type="date"
            formControlName="endDate"
            id="endDate"
            [min]="leaveRequestForm.get('startDate')?.value"
          />
          <div
            *ngIf="
              leaveRequestForm.get('endDate')?.invalid &&
              leaveRequestForm.get('endDate')?.touched
            "
          >
            <small
              class="error"
              *ngIf="leaveRequestForm.get('endDate')?.errors?.['required']"
            >
              End date is required.
            </small>
            <small
              class="error"
              *ngIf="leaveRequestForm.get('endDate')?.errors?.['noWeekends']"
            >
              End date cannot be on a weekend.
            </small>
          </div>
        </div>
      </div>

      <div
        class="form-controller-container"
        *ngIf="leaveRequestForm.get('startTime')"
      >
        <div class="form-controller">
          <div class="label-container">
            <label for="startTime">Start Time</label>
          </div>
          <input type="time" formControlName="startTime" id="startTime" />
          <div
            *ngIf="
              leaveRequestForm.get('startTime')?.invalid &&
              leaveRequestForm.get('startTime')?.touched
            "
          >
            <small
              class="error"
              *ngIf="leaveRequestForm.get('startTime')?.errors?.['required']"
            >
              Start time is required for certain leave types.
            </small>
            <small
              class="error"
              *ngIf="leaveRequestForm.get('startTime')?.errors?.['timeRange']"
            >
              Time between 12:30 and 14:00 is not allowed.
            </small>
          </div>
        </div>
        <div class="form-controller" *ngIf="leaveRequestForm.get('endTime')">
          <div class="label-container">
            <label for="endTime">End Time</label>
          </div>
          <input type="time" formControlName="endTime" id="endTime" />
          <div
            *ngIf="
              leaveRequestForm.get('endTime')?.invalid &&
              leaveRequestForm.get('endTime')?.touched
            "
          >
            <small
              class="error"
              *ngIf="leaveRequestForm.get('endTime')?.errors?.['required']"
            >
              End time is required for certain leave types.
            </small>
            <small
              class="error"
              *ngIf="leaveRequestForm.get('endTime')?.errors?.['timeRange']"
            >
              Time between 12:30 and 14:00 is not allowed.
            </small>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
