<div class="modal-container">
  <h2>Leave Request</h2>
  <div class="modal-content">
    <form [formGroup]="leaveRequestForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="leaveType">Leave Type :</label>
        <select formControlName="leaveType" id="leaveType">
          <option *ngFor="let type of requestTypes" [value]="type">
            {{ type }}
          </option>
        </select>
        <div
          *ngIf="
            leaveRequestForm.get('leaveType')?.invalid &&
            leaveRequestForm.get('leaveType')?.touched
          "
        >
          <small class="error">Leave type is required.</small>
        </div>
      </div>

      <div>
        <label for="startDate">Start Date :</label>
        <input
          type="date"
          formControlName="startDate"
          id="startDate"
          [min]="minDate"
        />
        <div
          *ngIf="
            leaveRequestForm.get('startDate')?.invalid &&
            leaveRequestForm.get('startDate')?.touched
          "
        >
          <small class="error"
            >Start date is required and must be today or in the future.</small
          >
        </div>
      </div>

      <div>
        <label for="endDate">End Date :</label>
        <input
          type="date"
          formControlName="endDate"
          id="endDate"
          [min]="leaveRequestForm.get('startDate')?.value"
        />
        <div
          *ngIf="
            leaveRequestForm.get('endDate')?.invalid &&
            leaveRequestForm.get('endDate')?.touched
          "
        >
          <small class="error"
            >End date is required and must be after the start date.</small
          >
        </div>
      </div>

      <!-- Conditionally render these fields if the leave type requires them -->
      <div *ngIf="leaveRequestForm.get('startTime')">
        <label for="startTime">Start Time :</label>
        <input type="time" formControlName="startTime" id="startTime" />
        <div
          *ngIf="
            leaveRequestForm.get('startTime')?.invalid &&
            leaveRequestForm.get('startTime')?.touched
          "
        >
          <small class="error"
            >Start time is required for certain leave types.</small
          >
        </div>
      </div>
      <div *ngIf="leaveRequestForm.get('endTime')">
        <label for="endTime">End Time :</label>
        <input type="time" formControlName="endTime" id="endTime" />
        <div
          *ngIf="
            leaveRequestForm.get('endTime')?.invalid &&
            leaveRequestForm.get('endTime')?.touched
          "
        >
          <small class="error"
            >End time is required for certain leave types.</small
          >
        </div>
      </div>
      <div *ngIf="leaveRequestForm.get('attachment')">
        <label for="attachment">Attachment :</label>
        <input
          type="file"
          id="attachment"
          (change)="onAttachmentSelected($event)"
          accept=".pdf,.doc,.docx"
        />
        <div
          *ngIf="
            leaveRequestForm.get('attachment')?.invalid &&
            leaveRequestForm.get('attachment')?.touched
          "
        >
          <small class="error"
            >Attachment is required for certain leave types.</small
          >
        </div>
      </div>

      <button
        type="submit"
        [disabled]="leaveRequestForm.invalid"
        class="submit-button-modal"
      >
        @if(isLoading){
        <div class="spinner-container">
          <mat-spinner [diameter]="15"></mat-spinner>
        </div>
        } @else{ Send Request }
      </button>
    </form>
  </div>
</div>
